:root {
  --light-grey: #ececec;
  --medium-grey: #d9d9d9;
  --grey: #818181;
  --white: #ffffff;
  --green: #00392a;
  --light-green: #027e5d;
  --light-gold: #cfba50;
  --gold: #8c6635;
  --red: #e44c4c;
}

:root {
  --color-background: var(--light-grey);
  --secondary-background-color: var(--grey);
  --medium-grey-color: var(--medium-grey);
  --color-text: var(--green);
  --accent-color: var(--green);
  --light-color: var(--white);
  --gold-color: var(--gold);
  --light-gold-color: var(--light-gold);
  --light-green-color: var(--light-green);
  --alert-color: var(--red);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  padding: 5px;
}

input:focus {
  outline: none;
}
